@import "../../assets/styles/vars.scss";
@import '../../assets/styles/styles.scss';


    .form_container {
        display: flex;
        flex-direction: column;
        width: 14.625rem;
        margin: 1.875rem;
    }
    
    .label {
        margin-bottom: 5px;

    }
    
    .input {
        margin-bottom: 1.063rem;
        padding: 0.5rem;
    }
    
    .button {
        background-color: $primary-color;
        color: white;
        padding: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
    
    .button:hover {
        background-color: #45a049;
    }
    