@import '../../assets/styles/vars.scss';
@import '../../assets/styles/styles.scss';



table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 1.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  
}

th, td {
  border: 0.094rem solid $primary-color;
  padding: 0.625rem;
  text-align: left;
}

th {
  background-color: $primary-color;
  color: white;
}

input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.313rem;
}

button {
  background-color: $primary-color;
  color: white;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color $transition-duration ease;

  &:hover, &:focus, &:active {
    background-color: $primary-color;
  }
}