@import '../../assets/styles/vars.scss';
@import '../../assets/styles/styles.scss';

.container {
    width: 100%;
    margin: 0 auto;
    background-color: $primary-color;
    color: $text-color;
    padding: 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
}

.contacts, .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    p {
        margin: 0.313rem 0;
    }

    a {
        margin-top: 0 0.625rem;
        color: $text-color;
        text-decoration: none;
        transition: color $transition-duration ease;

        &:hover {
            color: pink;
        }
    }
}