@import '../../../assets/styles/vars.scss';
@import '../../../assets/styles/styles.scss';



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;

  h1 {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: $primary-color;
  }
}

.counter {
  font-weight: 900;
}