// Main colors
$primary-color: #3598db;
$secondary-color: #2ecc71;
$background-color: #ecf0f1;
$text-color: #333;
$danger-color: #ff0000; // Красный цвет для опасных действий
$success-color: #00ff00; // Зеленый цвет для успешных действий

// Fonts
$font-family: 'Arial', sans-serif;

//Sizes
$button-padding: 5px;

// Animation
$transition-duration: 0.3s;