// Main colors
$primary-color: #a57bc5;;
$secondary-color: #ffc0cb;
$background-color: #ecf0f1;
$text-color: #333;

// Fonts
$font-family: 'Arial', sans-serif;

//Sizes
$button-padding: 0.313rem;

// Animation
$transition-duration: 0.3s;