// Main colors
$primary-color: #a57bc5;;
$secondary-color: #ffc0cb;
$background-color: #ecf0f1;
$text-color: #333;
$danger-color: #ff0000; // Red color for dangerous actions
$success-color: #30ca30; // Green  color for successful actions

// Fonts
$font-family: 'Arial', sans-serif;

//Sizes
$button-padding: 0.313rem;

// Animation
$transition-duration: 0.3s;